# Dependencias
node_modules/

# Archivos de build y producción
dist/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ficheros de entorno locales con secretos
.env.local
.env.*.local

# Ficheros de configuración de IDEs
.idea/
.vscode/

# Ficheros del sistema operativo
.DS_Store
Thumbs.db